:root {
	--color-accent: #2196f3;
	--color-btn-active: #188CE8;
	--color-logo: #000000;
	--color-bgr-head: #ffffff;
	--color-bgr-main: #f5f5f5;
	--color-bgr-alternative: #f5f4fa;
	--color-bgr-hero: #2f303a;
	--color-main: #757575;
	--color-header: #212121;
	--color-border: #EEEEEE;
	--color-footer-contact: rgba(255, 255, 255, 0.6);
}

body {
	width: 1600px;
	background-color: var(--color-bgr-head);

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-main);
}

body .list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

body .button {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 16px;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

body .link,
.logo-link {
	text-decoration: none;
	font-style: normal;
}

body .link:hover,
body .link:focus {
	color: var(--color-accent);
}

/* container */
.container {
	width: 1200px;
	padding: 0 15px;

	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;

	outline: 2px solid red;
}

/* header */
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--color-accent);
}

.logo-header {
	color: var(--color-logo);
}

.nav-text {
	color: var(--color-header);
}

.nav-text,
.contact-text {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contact-text {
	color: var(--color-main);
}

.current {
	color: var(--color-accent);
}

/* hero */
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: var(--color-bgr-hero);
	text-align: center;
}

.hero-head {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--color-bgr-head);
}

.hero-button {
	min-width: 216px;
	padding: 10px 32px;
	background-color: var(--color-accent);
	/* font-family: inherit; */
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--color-bgr-head);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--color-btn-active);
	border-color: var(--color-accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section idea */
.idea {
	padding: 94px 0;
}

.head-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.idea-head {
	margin-bottom: 10px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-header);
}

/* section work */
.work {
	padding-bottom: 94px;
}

.section-head {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.28;
	text-align: center;
	color: var(--color-header);
}

/* section team */
.team {
	padding: 94px 0;
	background-color: var(--color-bgr-alternative);
}

.card-employes,
.card-progects {
	background-color: var(--color-bgr-head);
}

.card-employes {
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-head {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--color-header);
}

.team-head,
.team-text {
	font-size: 16px;
	line-height: 1.19;
}

/* footer */
.footer {
	padding: 60px 0;
	background-color: var(--color-bgr-hero);
}

.footer .logo {
	display: inline-block;
	margin-bottom: 20px;
}

.logo-footer,
.footer-text {
	color: var(--color-bgr-head);
}

.footer li:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contact {
	color: var(--color-footer-contact);
}

/* portfolio */
.projects-button {
	min-width: 73px;
	padding: 6px 22px;
	background-color: var(--color-bgr-alternative);

	/* font-family: inherit; */
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;

	color: var(--color-header);
}

.projects-button {
	min-width: 73px;
	padding: 6px 22px;
	background-color: var(--color-bgr-alternative);
	/* font-family: inherit; */
	font-weight: 500;
	line-height: 1.63;
	letter-spacing: 0.03em;

	color: var(--color-header);
}

.projects-button:hover,
.projects-button:focus {
	padding: 6px 25px;
	background-color: var(--color-accent);
	border-color: var(--color-accent);
	color: var(--color-bgr-head);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-progects {
	border: 1px solid var(--color-border);
}

.projects-head {
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: var(--color-header);
}

.projects-text {
	font-size: 16px;
	line-height: 1.88;
}